// @mixin gridContainer($column, $spacing) {
//   display: flex;
//   flex-wrap: wrap;
//   row-gap: $spacing;
//   margin-left: $spacing * -1;
//   justify-content: space-around;
//   > * {
//     width: calc(100% / $column - $spacing);
//     margin-left: $spacing;
//   }
// }
@media screen and (max-width: 1199px) {
  .wrapper-inner {
    .main,
    .header {
      margin-right: 50px;
    }
  }
}

@media screen and (max-width: 991px) {
  .wrapper-inner {
    display: flex;
    flex-direction: column;
  }
  .header {
    order: 2;
    .search-form {
      margin: 0 0 0 auto;
    }
    .bar,
    .hiddenMenu {
      display: block;
    }

    .nav {
      display: none;
    }
    > input:checked ~ .hiddenMenu {
      transform: translateX(0);
    }
    .bar > img {
      width: 28px;
      height: 28px;
    }
    > input:checked ~ .nav-overlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      left: 0;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }
  .sidebar {
    padding: 40px;
    flex-wrap: wrap;
    align-items: center;
    order: 1;
    flex-direction: column;
    > a {
      display: flex;
      align-items: center;
    }
    .heading {
      margin: 30px 0;
    }

    .nav {
      flex-direction: row;
      margin-top: 0;
    }
  }
  .main {
    order: 3;
  }

  .main,
  .header {
    margin: 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    grid-area: main;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    .w7 {
      order: 1;
    }
    .w8 {
      order: 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .sidebar {
    .nav {
      width: 50%;
      overflow: scroll;
    }
  }

  .header {
    width: 80%;
  }
  .bar {
    position: relative;
    left: 120px;
  }
}
